wandb_project: spd
dtype: float32
batch_size: 128
num_iterations: 100_000
warmup_iters: 600
learning_rate: 1e-4
learning_rate_decay_frac: 0.1
weight_decay: 0.1
grad_clip: 1.0
val_loss_every: 100
val_max_steps: 20
sample_every: 1000
intermediate_checkpoints: false

model:
  model_type: LlamaSimpleMLP
  block_size: 512
  vocab_size: 50259  # GPT-2 tokenizer + [UNK]/[EOS]
  n_layer: 4
  n_head: 6
  n_embd: 192
  n_intermediate: 768  # 192 * 4
  rotary_dim: 32       # 192 // 6
  n_ctx: 512
  n_key_value_heads: 3
  flash_attention: false

train_dataset_config:
  name: monology/pile-uncopyrighted
  is_tokenized: false
  tokenizer_file_path: null
  hf_tokenizer_path: gpt2
  split: train[:10000000] # Dataset has 177M examples
  streaming: false
  n_ctx: 512
  seed: 0
  column_name: text
val_dataset_config:
  name: monology/pile-uncopyrighted
  is_tokenized: false
  tokenizer_file_path: null
  hf_tokenizer_path: gpt2
  split: train[-100000:]
  streaming: false
  n_ctx: 512
  seed: 0
  column_name: text

