wandb_project: spd
train_dataset_config:
  name: SimpleStories/SimpleStories
  is_tokenized: false
  tokenizer_file_path: simple_stories_train/tokenizer/simplestories-tokenizer.json
  split: train
  streaming: false
  n_ctx: 512
  seed: 0
  column_name: story
val_dataset_config:
  name: SimpleStories/SimpleStories
  is_tokenized: false
  tokenizer_file_path: simple_stories_train/tokenizer/simplestories-tokenizer.json
  split: test
  streaming: false
  n_ctx: 512
  seed: 0
  column_name: story
model_id: llama_simple_mlp-4L-wide
dtype: float32
batch_size: 8
total_batch_size: 32768
num_iterations: 100_000
warmup_iters: 600

learning_rate: 3e-4
learning_rate_decay_frac: 0.1
weight_decay: 0.1
grad_clip: 1.0
val_loss_every: 100
val_max_steps: 20
sample_every: 1000
intermediate_checkpoints: false
